<div *ngIf="cart && cart.items.length >0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.clothes.imageUrl" [alt]="cartItem.clothes.name">
            </div>
            <div>
                <a routerLink="/clothes/{{cartItem.clothes.id}}">
                    {{cartItem.clothes.name}}
                </a>
            </div>

            <div>
                <select #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div>
                {{cartItem.price | currency}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="clothes-count">{{cart.items.length}}</div>
            <div class="total-price">{{cart.totalPrice| currency}}</div>
        </div>
    </div>
<div class="buttonbuy">
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
    crossorigin="anonymous">

<a href="https://api.whatsapp.com/send/?phone=573012958730&text=Bienvenido+a+Kuronyx+%2C+hemos+visto+que+estas+interesado+en+nuestros+productos+Gracias+por+confiar+en+nostros%2C+nos+podremos+en+contacto+contigo+muy+pronto+para+terminar+tu+compra.%0A&type=phone_number&app_absent=0" class="btn btn-success"> Comprar </a>
</div>
</div>
