.fondo1{
    width:100%;
    max-width:400px;
    height: auto;
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.zorrito{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

Ul li a{
    height: 27rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgb(117, 63, 129);
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: 1rem;
    position: relative;
}

.favorite{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #7B241C;
}
.favorite.not{
    color:gray;
}

.origins span{
    border-radius: 2rem;
    display: inline-block;
    font-size: .7rem;
    color: gray;
    margin-right: .3rem;
} 

.price{
    color:#7b1c7b;
}